h1, h2, h3 {
	text-align: center;
	font-family: $outage;
	color: $dark-primary-color;
}

@media (min-width: 1029px) {
	h1 {
		font-size: 4em;
	}
	h3 {
		font-size: 1.25em;
	}
}

#main {
	background-size: cover;
	background-attachment: fixed;
	#top {
		#scroll-down-arrow {
			position: absolute;
			left: 45%;
			margin-top: 50px;
			width: 10%;
			text-align: center;
			font-size: 8em;
			color: $primary-brand-color;
			opacity: .6;
		}
	}
}

#midline {
	background-color: $primary-brand-color;
	color: $white;
}
@media (max-width: 768px) {
	#midline > div:nth-child(-n+2) .midline-box {
		border-bottom: 1px solid $dark-primary-color;
	}
}
@media (min-width: 768px) {
	#midline > div:nth-child(-n+2) .midline-box {
		border-right: 2px solid $dark-primary-color;
	}
}
.midline-box {
	margin: .5em 0;
	padding: 1em 2em;
}

#social-links {
	text-align: center;
	li {
		display: inline;
		margin: 10px 20px;
		a {
			color: $white;
		}
	}
}

.content-box {
	margin: 0 2em;
}

.community-tap,
.community-tap h3 {
	text-align: right;
}

#news-items {
	li {
		margin: .5em 0;
		h4 {
			margin-bottom: .1em;
			a {
				color: $white;
				&:hover {
					color: darken($white, 9%);
				}
			}
		}
		p {
			margin-top: 0.2em;
			font-style: italic;
			font-size: 0.9em;
		}
		&:nth-child(n+2) {
			/* Put a top border on every LI except the first */
			border-top: 1px solid $dark-primary-color;
		}
		time {
			font-size: .8em;
			position: relative;
			font-style: italic;
			color: $dark-primary-color;
		}
	}
}

.beer-culture {
	background-attachment: fixed;
	background-size: cover;
	padding-top: 1em;
	h1 {
		margin-top: 0;
	}
	.content-box {
		background-color: rgba($white, 0.7);
		color: $black;
		border-radius: 4px;
		padding: .5em;
		margin-bottom: .5em;
	}
}
