.locator {
	text-align: center;
	form {
		max-width: 450px;
		margin: 0 auto;
		padding: .5em;
	}
	.address-search {
		color: $white;
		input {
			display: inline-block;
			width: 75%;
		}
		button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			margin-bottom: 14px;
			width: 25%;
			font-weight: bold;
		}
	}
	.current-location {
		button {
			max-width: 430px;
			width: 100%;
			font-weight: bold;
		}
	}
}
