.beer-stat {
  .beer-stat-label {
    font-weight: bolder;
    margin-right: .5em;
    width: 10em;
    display: inline-block;
  }
}

.map-container {
  height: 400px;
}
#location-map {
  height: 100%;
  margin: 0;
  padding: 0;
}
